set tabsize 4
set tabstospaces
set autoindent
set trimblanks
set linenumbers
set constantshow
set mouse
set titlecolor white,blue
set keycolor cyan
set functioncolor green
set numbercolor yellow
include "/usr/share/nano/*.nanorc"
